* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

body {
    background-color: #D23333
}

header {
    display: flex;
    background-color: #1D1B1B;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Happy Monkey", system-ui;
    gap: 35vh;
    font-size: 2rem;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Imperial Script", cursive;
    font-size: 5rem;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 30px;
}

.texto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Happy Monkey", system-ui;
    font-size: 4rem;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.titulo_destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Imperial Script", cursive;
    font-size: 3rem;
    color: #FFFFFF;
}

