* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}

body {
    margin-top: 120px;
    background-color: #D23333
}

header {
    display: flex;
    background-color: #1D1B1B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #1D1B1B;
    justify-content: center;
    align-items: center;
    font-family: "Happy Monkey", system-ui;
    font-size: 2rem;
    padding: 50px 20px;
    margin-top: 200px;
    gap: 30px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Happy Monkey", system-ui;
    gap: 35vh;
    font-size: 2rem;
}

.logo a {
    color:#FFFFFF;
    text-decoration: none;   
}

.logo a:hover {
    color: #D23333;
    transition: color 0.5s;
}

.titulo_sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Imperial Script", cursive;
    font-size: 10rem;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 30px;
}

.titulo_inicial {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: "Imperial Script", cursive;
    font-size: 8rem;    
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto_inicial {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: "Happy Monkey", system-ui;
    font-size: 2.8rem;    
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 300px;
}

.titulo_objetivo {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: "Imperial Script", cursive;
    font-size: 8rem;    
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto_objetivo {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: "Happy Monkey", system-ui;
    font-size: 2.8rem;    
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.fachada {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-left: 50px;
    margin-top: -300px;    
}

.pizzaria {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 50px;
    margin-top: 150px; 
}

.titulo_atual {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Imperial Script", cursive;
    font-size: 8rem;    
    color: #FFFFFF;
    margin-top: -600px;
    margin-left: -250px;
    margin-bottom: 20px;
}

.texto_atual {
    display: flex;
    justify-content: right;
    align-items: right;
    font-family: "Happy Monkey", system-ui;
    font-size: 2.8rem;    
    color: #FFFFFF;
    margin-top: -700px;
    margin-bottom: 60px;
}

.titulo_lema {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: "Imperial Script", cursive;
    font-size: 8rem;    
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 550px;
    margin-bottom: 20px;
}

.texto_lema {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: "Happy Monkey", system-ui;
    font-size: 2.8rem;    
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 300px;
}

.rodape-topo {
   margin-top: -115px;
}

.rodape-topo img {
    height: 100px;
    width: auto;
}

.rodape-meio p {
    margin-top: 30px;
    text-align: center;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
  
}

.rodape-baixo {
  font-size: 20px;
  opacity: 0.8;
  text-align: center;
  margin-top: 70px;
}

@media screen and (max-width: 1024px) {
    footer {
    display: flex;
    flex-direction: column;
    background-color: #1D1B1B;
    justify-content: center;
    align-items: center;
    font-family: "Happy Monkey", system-ui;
    font-size: 1.5rem;
    padding: 25px 10px;
    margin-top: 100px;
    gap: 15px;
    }

    .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vh;
    font-size: 1.2rem;
    }

    .titulo_sobre{
        font-size: 8rem;
    }

    .titulo_inicial{
        font-size: 6rem;
    }

    .texto_inicial{
        font-size: 1.5rem;
    }

    .titulo_objetivo{
        font-size: 6rem;
    }

    .texto_objetivo{
        font-size: 1.5rem;
    }

    .titulo_atual {
        font-size: 6rem;
        margin-top: -500px;
        margin-left: -150px;
        margin-bottom: 20px;
    }

    .texto_atual {
        font-size: 1.5rem;
        margin-top: -450px;
        margin-bottom: 30px;
        margin-left: 600px;
    }

    .titulo_lema{
        font-size: 6rem;
    }

    .texto_lema{
        font-size: 1.5rem;
    }

    .rodape-topo {
        margin-top: -90px;
    } 
}

@media screen and (max-width: 768px) {
    footer {
    display: flex;
    flex-direction: column;
    background-color: #1D1B1B;
    justify-content: center;
    align-items: center;
    font-family: "Happy Monkey", system-ui;
    font-size: 1.5rem;
    padding: 25px 10px;
    margin-top: 100px;
    gap: 15px;
    }

    .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    font-size: 1.2rem;
    }

    .titulo_sobre{
        font-size: 6rem;
    }

    .titulo_inicial{
        font-size: 4rem;
    }

    .texto_inicial{
        font-size: 1rem;
    }

    .titulo_objetivo{
        font-size: 4rem;
    }

    .texto_objetivo{
        font-size: 1rem;
    }

    .titulo_atual {
        font-size: 4rem;
        margin-top: -500px;
        margin-left: -150px;
        margin-bottom: 20px;
    }

    .texto_atual {
        font-size: 1rem;
        margin-top: -500px;
        margin-bottom: 30px;
        margin-left: 500px;
    }

    .titulo_lema{
        font-size: 4rem;
    }

    .texto_lema{
        font-size: 1rem;
    }

    .rodape-topo {
        margin-top: -90px;
    } 
}
